.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.Game-title {
	margin-top: 1rem;
	color: #255784;
	margin-bottom: 0;
	font-weight: 100;
	display: inline-block;
	font-size: 4rem;
}

p {
	font-size: .9em;
}

@media (max-width: 1000px) {
	.Game-title {
		font-size: 4rem;
		width: 100%;
	}
	.App {
		display: block;
		height: 100vh;
	}
}
