.RuleRow {
	transition: all 0.2s;
}
.RuleRow-active:hover {
	cursor: pointer;
	background: rgba(54, 65, 73, 0.5);
}

.RuleRow-disabled {
	background: linear-gradient(
		to right,
		rgba(64, 81, 97, 0.4) 0%,
		rgba(82, 104, 124, 0.4) 0%,
		rgba(49, 52, 61, 0.3) 30%,
		rgba(65, 68, 77, 0.3) 40%
	);
	background-size: 300% 300%;
	animation: Slide 1s ease 1;
}

@keyframes Slide {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 51%;
	}
}
.RuleRow-disabled td:first-child {
	text-decoration: line-through;
}

.RuleRow-disabled:hover {
	cursor: not-allowed;
}

.RuleRow td {
	padding: 0.3em;
	border-bottom: solid 1px #2196f3;
}

.RuleRow-name {
	width: 50%;
	text-align: left;
}

.RuleRow-score {
	width: 50%;
	text-align: right;
}
