.ScoreTable {
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	width: 80%;
	background-color: #031321;
	color: #2196f3;
	padding: 1em;
}

.ScoreTable table {
	width: 100%;
	margin: 0 auto;
	min-width: 400px;
}

.ScoreTable-section {
	vertical-align: top;
	width: 100%;
}

@media (max-width: 1000px) {
	.ScoreTable {
		width: 90%;
	}
	.ScoreTable table {
		width: 90%;
		min-width: 300px;
	}
}
